@page
@model DetailsModel
@{
    ViewData["Title"] = "Book Details";
}

<h4>Book Details</h4>
<hr />
<div class="row">
    <div class="col-sm-2"><label asp-for="BookViewModel.Title" class="control-label"></label></div>
    <div class="col-sm-4">@Model.BookViewModel.Title</div>
</div>
<div class="row">
    <div class="col-sm-2"><label asp-for="BookViewModel.Author" class="control-label"></label></div>
    <div class="col-sm-4">@Model.BookViewModel.Author</div>
</div>
<div class="row">
    <div class="col-sm-2"><label asp-for="BookViewModel.BookFormat" class="control-label"></label></div>
    <div class="col-sm-4">@Model.BookViewModel.BookFormat?.DisplayName</div>
</div>
<div class="row">
    <div class="col-sm-2"><label asp-for="BookViewModel.LikeCount" class="control-label"></label></div>
    <div class="col-sm-4">@Model.BookViewModel.LikeCount</div>
</div>
<div class="row">
    <div class="col-sm-2"><label asp-for="BookViewModel.DislikeCount" class="control-label"></label></div>
    <div class="col-sm-4">@Model.BookViewModel.DislikeCount</div>
</div>
<div class="row">
    <div class="col-sm-2"><label asp-for="BookViewModel.PublishedDate" class="control-label"></label></div>
    <div class="col-sm-4">@Model.BookViewModel.PublishedDate?.ToString("yyyy-MM-dd")</div>
</div>
<hr />
<div class="row mt-3">
    <div class="col-sm-2">
        <form asp-page-handler="Liked" method="post">
            <input id="bookId" name="bookId" type="hidden" value="@Model.BookViewModel.BookId" />
            <button class="btn btn-block btn-success">Like</button>
        </form>
    </div>
    <div class="col-sm-2">
        <form asp-page-handler="Disliked" method="post">
            <input id="bookId" name="bookId" type="hidden" value="@Model.BookViewModel.BookId" />
            <button class="btn btn-block btn-danger">Dislike</button>
        </form>
    </div>
    <div class="col-sm-2">
        <a class="btn btn-block btn-info" asp-page="Edit" asp-route-bookid="@Model.BookViewModel.BookId">Edit</a>
    </div>
</div>
<div class="row mt-3">
    <div class="col">
        <a asp-page="/Books/Index">List Books</a>
    </div>
</div>