@page
@model DetailsModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Details</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-2"><label asp-for="BookViewModel.Title" class="control-label"></label></div>
        <div class="col-sm-4">@Model.BookViewModel.Title</div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label asp-for="BookViewModel.Author" class="control-label"></label></div>
        <div class="col-sm-4">@Model.BookViewModel.Author</div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label asp-for="BookViewModel.DislikeCount" class="control-label"></label></div>
        <div class="col-sm-4">@Model.BookViewModel.DislikeCount</div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label asp-for="BookViewModel.LikeCount" class="control-label"></label></div>
        <div class="col-sm-4">@Model.BookViewModel.LikeCount</div>
    </div>
    <div class="row">
        <div class="col-sm-2"><label asp-for="BookViewModel.PublishedDate" class="control-label"></label></div>
        <div class="col-sm-4">@Model.BookViewModel.PublishedDate</div>
    </div>
</div>

<div><a asp-page="/Books/Index">List Books</a></div>